<%= button_to blog_user_access_path(blog, user), params: { level: :editor }, class: "btn txt-small flex-item-no-shrink" do %>
  <%= image_tag "eye.svg", size: 24, aria: { hidden: "true" } %>
  <span class="for-screen-reader">Role: Reader</span>
<% end %>
